*.html
*.pdf
*.redxml
*.swp
*.txt
!.vale/styles/config/vocabularies/Vibeslop/accept.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-steele-vibeslop.xml
package-lock.json
report.xml
!requirements.txt
.vale/styles/IETF-Draft/
.vale/styles/IETF-Draft-Optional/
